* {
	padding: 0;
	margin: 0;
	font-family: Open-Sans, sans-serif;
	text-align: center;
}
button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
.container {
	min-width: 900px;
}
.header {
	background-image: url(../img/sample2.jpg);
	background-size: cover;
	color: #E8E8E8;
	padding: 50px;
}
.landing-logo {
	display: flex;
	justify-content: space-between;
}
.landing-logo>p {
	font-size: 14px;
	letter-spacing: 4px;
}
h1 {
	font-size: 52px;
	font-weight: 200;
	color: #F3F3F3;
	letter-spacing: 10px;
	margin-top: 225px;
}
h2 {
	font-size: 22px;
	font-weight: 200;
	margin-bottom: 30px;
	padding-top: 0px;
}
h1>span {
	font-size: 100px;
}
h1+p {
	margin-bottom: 230px;
}
.nav {
	margin-bottom: 70px;
}
.main-nav {
	list-style: none;
}
.nav-item>a {
	text-decoration: none;
	color: #F3F3F3;
	border: 1px solid #F3F3F3;
	padding: 20px 90px;
}
.main-nav {
	display: flex;
	justify-content: space-around;
}
#button-login {
	margin-right: 70px;
}
section, .news_block {
	padding: 50px;
}
article {
	display: flex;
}
.articles, .news_block, .header_footer {
	background-color: #F3F3F3;
}
.article-img {
	width: calc(50% + 115px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: 100% 100%;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
}
.article-text {
	width: 50%;
}
.text1 {
	padding: 15px 25px 0px 90px;
}
.text2 {
	padding: 15px 90px 0px 25px;
}
.img1 {
	background-image: url(../img/sample-1.jpg);
}
.img2 {
	background-image: url(../img/sample-2.jpg);
}
.article-img>button {
	border: 2px solid #FFFFFF;
	margin: 20px;
	padding: 6px 10px;
	align-self: flex-end;
	width: 65px;
	height: 34px;
}
.article-img>h3 {
	text-align: start;
	padding: 20px;
}
h3 {
	font-size: 16px;
	font-weight: 300;
}
.section_card_wrap {
	display: flex;
	justify-content: space-between;
	color: #FFFFFF;
	font-size: 14px;
	padding: 50px 50px 0px 50px;
}
.section_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 230px;
	min-height: 300px;
	margin: 10px;
	background-size: auto 100%;
}
.section_card>button {
	display: block;
}
.card1 {
	background-image: url(../img/news-list-1.jpg);
}
.card2 {
	background-image: url(../img/news-list-2.jpg);
}
.card3 {
	background-image: url(../img/news-list-3.jpg);
}
.card4 {
	background-image: url(../img/news-list-4.jpg);
}
.button_card_like {
	width: 45px;
	height: 30px;
	border: 2px solid #FFFFFF;
	align-self: flex-end;
	margin: 16px;
}
.button_card_enter {
	background-color: #097774;
	opacity: 0.75;
	width: 90%;
	height: 10%;
	align-self: center;
	font-weight: 600;
}
.card_text {
	align-self: flex-start;
	margin: 16px;
}
.news_main_button {
	background-color: #097774;
	color: #FFFFFF;
	padding: 15px 120px;
	margin: 45px 0px 40px 0px;
}
.news_text {
	text-align: left;
	margin-top: 10px;
	padding-right: 50px;
}
footer {
	padding: 10px 50px;
	height: 16px;
}
.footer-nav {
	list-style: none;
	display: flex;
	float: right;
}
.footer-nav-item>a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	margin-left: 20px;
}
.footer-copyright {
	float: left;
	font-size: 14px;
	color: #9E9E9E;
}
.news_subscribe {
	text-align: right;
}
.news_subscribe>p {
	display: inline;
	font-size: 26px;
	margin-right: 20px;
}
#e-mail {
	border: 1px solid #000000;
	padding: 10px;
	text-align: left;
	width: 135px;
	margin-right: 5px;
}
#e-mail, #submit {
	font-size: 14px;
}
#submit {
	background-color: #097774;
	color: #FFFFFF;
	padding: 11px;
}
.header_footer {
	display: flex;
	width: 100%;
}
.left-text, .right-text {
	background-color: transparent;
	text-align: left;
	position: relative;
	z-index: 5;
	width: 50%;
}
.right-text {
	color: #FFFFFF;
	padding: 0px 50px;
}
.left-text {
	align-self: center;
	font-size: 20px;
	padding-left: 50px;
	margin-top: 30px;
}
.header_footer {
	height: 200px;
}
.header_footer::before {
	content: '';
	padding-top: 5%;
	height: calc(200px - 5%);
	background: linear-gradient(to left bottom, transparent 49.5%, #F3F3F3 50%) left / 100% 100% no-repeat, linear-gradient(to right top, transparent 49.5%, #000000 50%) right / 100% 100% no-repeat;
	position: absolute;
	z-index: 1;
	left: 2px;
	right: 2px;
}