* {
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto;
  max-width: 1400px;
  background-color: #0b192f;
}
.burger-menu {
  display: none;
}
.container {
  width: 73%;
  max-width: 1400px;
  margin: auto;
}
header {
  background-color: #162b4d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: 65px;
  vertical-align: middle;
  margin-bottom: 18px;
}
.nav-list a {
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  margin-right: 15px;
  margin-left: 15px;
}
.nav-list {
  list-style: none;
  display: flex;
  margin-right: 20px;
  line-height: 65px;
}
.logo {
  font-size: 24px;
  font-weight: 100;
  margin-left: 15px;
  line-height: 65px;
}
.logo>span {
  color: #B71757;
}
article, .posts_news {
  display: flex;
}
article:nth-child(even) {
  flex-direction: row-reverse;
}
aside {
  width: 120%;
  margin-left: 18px;
}
.img_aside {
  width: 100%;
}
.news {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 18px;
}
h3 {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
}
h3+p {
  font-size: 9px;
  opacity: 0.7;
  line-height: 16px;
  opacity: 0.5;
}
article>img {
  width: 100%;
  height: 100%;
}
article>img:hover, .post_text:hover {
  filter: opacity(0.5);
  cursor: pointer;
}
.post_text, article>img {
  width: 50%;
}
.post_text {
  width: 100%;
}
article:last-child {
  padding-top: 5px;
}
.post_text {
  color: #fff;
  display: flex;
}
article:nth-child(even) .post_text {
  flex-direction: row-reverse;
  text-align: right;
}
.date {
  opacity: 0.4;
  margin: 10px;
  font-size: 32px;
  font-weight: 100;
}
.date>p {
  font-size: 18px;
}
br {
  padding: 0;
  margin: 0;
}
h2 {
  font-weight: 100;
  font-size: 34px;
  line-height: 32px;
  margin-bottom: 10px;
}
h2+p {
  font-size: 10px;
  font-weight: 100;
  line-height: 14px;
  opacity: 0.7;
}
article:nth-child(odd) .post_text div:first-child {
  margin: 20px 0px 0px 26px;
}
article:nth-child(even) .post_text div:first-child {
  margin: 20px 26px 0px 0px;
}
.post-1 {
  background: #B71757;
}
.post-2 {
  background: #0D7E71;
}
.post-3 {
  background: #b1660e;
}
.post-4 {
  background: #d12767;
}
.post-5 {
  background: #2d95bb;
}
footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #162b4d;
  margin-top: 18px;
  height: 95px;
}
footer p {
  padding: 26px;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.4;
}
footer p:last-child {
  width: 120px;
}
.nav-item:hover {
  background-color: #b8b8b8;
  cursor: pointer;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav {
    display: none;
  }
  .burger-menu, header, .post_text, article {
    display: block;
  }
  .burger-menu {
    padding-top: 20px;
  }
  header {
    height: 100%;
  }
  .date {
    text-align: center;
  }
  .logo, .burger-menu {
    text-align: center;
  }
  .container {
    width: 97%;
    margin: auto;
  }
  article:nth-child(even) .post_text div:first-child {
    margin: 20px 0px 0px 26px;
  }
  h3 {
    font-size: 14px;
  }
  h3+p {
    font-size: 8px;
    line-height: 12px;
  }
  .news {
    padding: 18px;
  }
  article>img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .post_text div:first-child {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
  .container {
    width: 97%;
    margin: auto;
  }
  article>img {
    width: 100%;
  }
  aside {
    width: 100%;
    margin: 0;
  }
  .burger-menu, header, .post_text, article {
    display: block;
  }
  .date {
    text-align: center;
  }
  article:nth-child(even) .post_text div:first-child {
    margin: 20px 26px 0px 26px;
    text-align: left;
  }
  article:nth-child(odd) .post_text div:first-child {
  margin: 20px 26px 0px 26px;
}
  .burger-menu {
    padding-top: 20px;
  }
  header {
    height: 100%;
  }
  .logo, .burger-menu {
    text-align: center;
  }
  .posts_news {
    display: block;
  }
  footer {
    height: 100%;
  }
}