$underlineColor: #0ca1c8;
$mainFont: 'Hind', sans-serif;
$headingFont: 'Sourse Sans Pro', sans-serif;
$textColor: rgba(0, 0, 0, 0.7);
$lightTextColor: rgba(255, 255, 255, 0.7);
$lightHeaderColor: rgba(255, 255, 255, 0.9);
$buttonBgColor: #9ACD32;
$mainScreenBg: url(../img/m-h-day.jpg);
$bannerColor: #4169E1;
$bodyBgColor: rgba(255, 255, 255, 0.9);
$map-background: ('darkblue': #1a2338);
$lineHeight: 1.5;
