$underlineColor: #ff3103;
$mainFont: 'Fresca', sans-serif;
$headingFont: 'Sourse Sans Pro', sans-serif;
$textColor: rgba(255, 255, 255, 0.9);
$lightTextColor: rgba(255, 255, 255, 0.7);
$lightHeaderColor: rgba(255, 255, 255, 0.9);
$buttonBgColor: #ebb328;
$mainScreenBg: url(../img/m-h-night.jpg);
$bannerColor: #a84769;
$bodyBgColor: rgba(0, 0, 0, 0.9);
$map-background: ('darkblue': #1a2338);
$map-background: ('darkblue': #1a2338);
$lineHeight: 1.9;